<div class="container">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-3">
                <img src="http://image.tmdb.org/t/p/w500/{{ movie_infos.poster_path }}" style="width: 250px;" alt="movie cover">
            </div>
            <div class="col-md-9">
                <h1 class="h1">{{ movie_infos.title | upper }}</h1>
                <p class="card-text">{{ movie_infos.overview }}</p>
                {% for cast in casting %}
                    {% if cast.job == "Director" %}
                        <p><b>Producer : {{ cast.name }}</b></p>
                    {% endif %}
                {% endfor %}
                <p class="text-muted">Release date : {{ movie_infos.release_date }}</p>
            </div>
        </div>
    </div>

    <hr>

    <form class="col-md-10 m-auto" method="post">
        <h3 class="mt-5">Add a comment below</h3>
        <div class="row">
            <div class="col">
                <label for="name">Firstname</label>
                <input type="text" name="firstname" class="form-control" id="name">
            </div>
            <div class="col">
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" class="form-control" id="lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Your comment</label>
            <textarea name="comment" class="form-control textarea" id="comment" rows="5"></textarea>
        </div>
        <div class="container">
            <div class="starrating risingstar d-flex flex-row-reverse">
                <input type="radio" id="star5" name="eval" value="5"/><label for="star5" title="5 star"></label>
                <input type="radio" id="star4" name="eval" value="4"/><label for="star4" title="4 star"></label>
                <input type="radio" id="star3" name="eval" value="3"/><label for="star3" title="3 star"></label>
                <input type="radio" id="star2" name="eval" value="2"/><label for="star2" title="2 star"></label>
                <input type="radio" id="star1" name="eval" value="1"/><label for="star1" title="1 star"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary m-auto col-md-12">Submit</button>
    </form>
    <hr>

    <div class="row mb-5">
        <div class="col-md-12">
            {% for item in movies %}
                <div class="media g-mb-30 media-comment">
                    <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Image Description">
                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                        <div class="g-mb-15">
                            <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ item.user_firstname }} {{ item.user_lastname }}</h5>
                            <span class="g-color-gray-dark-v4 g-font-size-12 eval">{{ item.eval }} </span>
                        </div>
                        <p>{{ item.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

        @media (min-width: 0) {
            .g-mr-15 {
                margin-right: 1.07143rem !important;
            }
        }

        @media (min-width: 0) {
            .g-mt-3 {
                margin-top: 0.21429rem !important;
            }
        }

        .g-height-50 {
            height: 50px;
        }

        .g-width-50 {
            width: 50px !important;
        }

        @media (min-width: 0) {
            .g-pa-30 {
                padding: 2.14286rem !important;
            }
        }

        .g-bg-secondary {
            background-color: #fafafa !important;
        }

        .u-shadow-v18 {
            box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
        }

        .g-color-gray-dark-v4 {
            color: #777 !important;
        }

        .g-font-size-12 {
            font-size: 0.85714rem !important;
        }

        .media-comment {
            margin-top: 20px
        }

        /* Styling h1 and links
        ––––––––––––––––––––––––––––––––– */

        .starrating > input {
            display: none;
        }

        /* Remove radio buttons */

        .starrating > label:before {
            content: "\f005"; /* Star */
            margin: 2px;
            font-size: 1em;
            font-family: FontAwesome, serif;
            display: inline-block;
        }

        .starrating > label {
            color: #222222; /* Start color when not clicked */
        }

        .starrating > input:checked ~ label {
            color: #ffca08;
        }

        /* Set yellow color when star checked */

        .starrating > input:hover ~ label {
            color: #ffca08;
        }

        .eval:after {
            content: "\f005";
            color: #222222;
            font-family: FontAwesome, serif;
        }

        /* Set yellow color when star hover */
    </style>


    {% include 'includes/footer.twig' %}
</div>
