{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}

  {% include 'includes/navbar.twig' %}

        <div class="container">
            <h1 class="mt-5">Welcome to APMAGWEB</h1>
            <hr>

        {% for movie in movie_magazine %}
        <div class="row">
            <div class="col-7 mt-3">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img" alt="">
                        </div>
                        <div class="col-md-8 adjustement">
                            <div class="card-body">
                                <h5 class="card-title"><b>{{ movie.title | upper | truncate(20, false, "...") }}</b> - {{movie.avgEval}}/5</h5>
                                <p>{{ movie.overview | truncate(300, false, "...") }}</p>
                                 <p class="text-muted">{{ movie.release_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 mt-3">
                <p>{{ movie.bestEval }} - {{movie.bestComment}}</p>
                <p>{{ movie.worstEval }} - {{movie.worstComment}}</p>
            </div>
        </div>
        {% endfor %}


        <hr>
    </div>

{% endblock %}
